//公共样式

body,
.mui-content {
    background: #fff;
}
.my-header {
    background: #FF8080;
    > h1 {
        color: #fff;
    }
    .mui-icon-search {
        color: #fff;
    }
}
.my-footer {
    background: #FF8080;
    .mui-tab-item {
        color: #fff;
    }
}
